<div class="cat-grid">
  @for (cat of images; track cat.id) {
    <div class="cat-card">
      <img [src]="cat.url" [alt]="'Cat'" />
      <h3>{{ cat.breeds[0].name }}</h3>
      <p>{{ cat.breeds[0].temperament }}</p>

      <div class="vote-btn">
        <button
          mat-icon-button
          color="primary"
          (click)="vote.emit({ image_id: cat.id, sub_id: userId, value: 1 })"
        >
          <mat-icon>thumb_up</mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          (click)="vote.emit({ image_id: cat.id, sub_id: userId, value: 0 })"
        >
          <mat-icon>thumb_down</mat-icon>
        </button>
      </div>
    </div>
  }
</div>
