@import '../../app.scss';

.cat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 32px;
  margin-top: 40px;
}

.cat-card {
  border: none;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  background: $card-background;
  box-shadow: 0 4px 16px $shadow-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.2s;
}
.cat-card:hover {
  box-shadow: 0 8px 24px $shadow-hover;
}

.cat-card img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.vote-btn {
  width: 48px;
  height: 48px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: $font-size-btn;
  background: #fff;
  border: none;
  cursor: pointer;
  margin: 0 8px;
  transition:
    transform 0.2s,
    background 0.2s,
    box-shadow 0.2s;
}

.vote-btn:hover {
  transform: scale(1.15) rotate(-10deg);
  /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18); */
}

.upvoted {
  background: $upvote-color;
  color: #fff;
}

.downvoted {
  background: $downvote-color;
  color: #fff;
}
